{% extends 'DNAcon/base.html' %}
{% load static %}
{% block content %}

<div class="center">
    {% csrf_token %}
    <h1> Акселератор для подготовки к Детскому научному конкурсу Фонда Андрея Мельниченко </h1>
    <p> Подготовьтесь к защите проекта с умом </p>
    <h2>Для чего нужна система</h2>
    <p> Акселератор ДНК - это платформа для легкой и быстрой подготовки проектов к ДНК </p>
    <ul>
        <li>Ускоряет разработку проектов</li>
        <li>Помогает находить сильные и слабые стороны ваших разработок</li>
        <li>Повышает конкурентноспособность </li>
    </ul>
</div>

{% endblock %}